.loginPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
    text-align: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: white;
    padding: 2rem;
    border: 1px solid #333;
    border-radius: 5px;
}

.loginForm>*,
.landingFormInput {
    font-size: 2rem;
    padding: .5rem;
    border-radius: 5px;
}

.loginForm>* {
    outline-color: deepskyblue;
}

.landingFormInput {
    border: none;
    outline: none
}

.landingPasswordContainer {
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: .25rem;
    align-items: center;
    border: 2px solid #333;
}

.landingPasswordContainer:focus-within {
    border: 2px solid deepskyblue;
}

.createAccLink {
    width: fit-content;
    text-decoration: none;
    color: navy;
    opacity: .5;
}

.createAccLink:hover {
    opacity: 1;
}

.accountCreatedMsgContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}