.profilePageContainer {
    padding: 1rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "posts bio"
        "comments bio";
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 80vh;
}

.userDisplayData {
    height: fit-content;
    grid-area: bio;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #1115
}

.myProfileMyPostsContainer {
    grid-area: posts;
}

.myProfileMyCommentsContainer {
    grid-area: comments;
}

.myProfileMyPostsContainer,
.myProfileMyCommentsContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
}

.userDisplayData>div>span {
    font-weight: bold;
}

.userDataEditDeleteBtnContainer {
    display: flex;
    justify-content: space-between;
}

.editUserBioTextArea,
.editUserInput {
    width: 100%;
    resize: none;
    font-family: inherit;
    font-size: 1rem;
    padding: .25rem;
    border-radius: 5px;
    color: #555;
}

.editUserInput.password {
    border: none;
    outline: none;
}

.editUserInput:not(.password):focus,
.editUserBioTextArea:focus {
    outline-color: deepskyblue;
}


.passwordFieldContainer {
    display: flex;
    align-items: center;
    gap: .25rem;
    border: 2px solid #333;
    border-radius: 5px;
}

.passwordFieldContainer:focus-within {
    border: 2px solid deepskyblue
}

.toggleViewPasswordIcon {
    font-size: 1.5rem;
    opacity: .5;
}

.toggleViewPasswordIcon:hover {
    cursor: pointer;
    opacity: 1;
}

.postEditDeleteUpdateCancelBtnContainer.myPosts,
.commentBtnsContainer.myComments {
    align-self: flex-end;
}