.profilePageContainer {
    padding: 1rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: max-content;
    grid-template-areas:
        "header header"
        "posts bio"
        "comments coins";
    /* min-height: 80vh; */
}

.profileFirstLetter {
    font-family: inherit;
    font-size: 2.5rem;
}

.profilePageContainer h1 {
    font-family: kalam;
}

.profilePageHeader {
    grid-area: header;
}

.myProfileMyPostsContainer {
    grid-area: posts;

}

.myProfileMyCommentsContainer {
    grid-area: comments;
}

.userBioContainer {
    grid-area: bio;
}

.myProfileCoinsContainer {
    grid-area: coins;
}

.profilePageHeader {
    height: min-content;
    /* align-self: center; */
    justify-self: center;
    border-bottom: 1px solid #333;
}

.userProfileCoinsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.userProfileCoinsContainer.headers {
    border-bottom: 1px solid #333;
}

.profileCoinChange {
    justify-self: center;
}

.userDisplayData,
.userProfileCoinsData,
.myProfileCommentsDisplay {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #1115;
    box-shadow: 2px 2px 2px #3333;

}

.myProfileMyPostsContainer,
.myProfileMyCommentsContainer,
.userBioContainer,
.myProfileCoinsContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
}


.userDisplayData>div>span {
    font-weight: bold;
}

.userDataEditDeleteBtnContainer {
    display: flex;
    justify-content: space-between;
}

.editProfileBtn {
    display: flex;
    font-family: inherit;
    padding: .25rem;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    border: 1px solid #999;
    border-radius: 5px;
    color: #333;
    background-color: inherit;
    box-shadow: 1px 1px 2px #333;

    transition: all .2s ease-in-out;
}

.editProfileBtn.edit:hover {
    color: darkblue;
    border: 1px solid blue;
}

.editProfileIcon {
    opacity: .5;
}

.editProfileBtn:hover .editProfileIcon {
    opacity: 1;
}

.editProfileBtn.delete:hover {
    color: darkred;
    border: 1px solid red;
}

.editProfileBtn.save:hover {
    color: darkgreen;
    border: 1px solid green;
}


.editUserBioTextArea,
.editUserInput {
    width: 100%;
    resize: none;
    font-family: inherit;
    font-size: 1rem;
    padding: .25rem;
    border-radius: 5px;
    color: #555;
}

.editUserInput.password {
    border: none;
    outline: none;
}

.editUserInput:not(.password):focus,
.editUserBioTextArea:focus {
    outline-color: deepskyblue;
}


.passwordFieldContainer {
    display: flex;
    align-items: center;
    gap: .25rem;
    border: 2px solid #333;
    border-radius: 5px;
}

.passwordFieldContainer:focus-within {
    border: 2px solid deepskyblue
}

.toggleViewPasswordIcon {
    font-size: 1.5rem;
    opacity: .5;
}

.toggleViewPasswordIcon:hover {
    cursor: pointer;
    opacity: 1;
}

.postEditDeleteUpdateCancelBtnContainer.myPosts,
.commentBtnsContainer.myComments {
    align-self: flex-end;
}

@media screen and (max-width: 800px) {

    .profilePageContainer {
        grid-template-areas:
            "header header"
            "bio coins"
            "posts posts"
            "comments comments" !important;
    }

    .userProfileCoinsContainer {
        gap: .5rem
    }

    .profileCoinChange {
        justify-self: end;
    }

}

@media screen and (max-width: 600px) {

    .profilePageContainer {
        grid-template-areas:
            "header header"
            "bio bio"
            "coins coins"
            "posts posts"
            "comments comments" !important;
    }

    .profileCoinChange {
        justify-self: center;
    }

}