.navbarContainer {
    background-color: darkblue;
    color: #eee;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* flex-grow: 1;
    flex-shrink: 0; */
}

.navTitle {
    border: 1px solid green;
}

.navLinksContainer {
    border: 1px solid blue;
    display: flex;
    gap: .5rem;
}

.navLink {
    border: 1px solid green;
    color: #eee
}

.loginSignupContainer {
    border: 1px solid orange;
}