.navbarContainer {
    background-color: darkblue;
    color: #eee;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* flex-grow: 1;
    flex-shrink: 0; */
}

.navTitle:hover {
    cursor: pointer;
}

.navLinksContainer {
    /* border: 1px solid blue; */
    display: flex;
    gap: .5rem;
    align-items: center;
    /* justify-content: center; */
}

.navLink {
    /* border: 1px solid green; */
    color: #eee;
    text-decoration: none;
    font-size: 1.5rem;
}

.activeLink {
    border-bottom: 2px solid #eee;
}

.loginSignupContainer {
    /* border: 1px solid orange; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: .25rem;
}

.userNameLogOutBtnContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}