@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

.navbarContainer {
    background-color: darkblue;
    color: white;
    padding: .25rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navTitle {
    font-family: 'Playfair Display', sans-serif;
    font-size: 3rem;
    /* color: red */
}

.firstLetter {
    font-family: inherit;
    font-size: 4rem;
}

.navTitle:hover {
    cursor: pointer;
}

.navLinksContainer {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.navLink {
    color: #eee;
    text-decoration: none;
    font-size: 1.8rem;
}

.navLink:hover {
    opacity: .8;
}

.activeLink {
    border-bottom: 2px solid #0AF;
}

.loginSignupContainer {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.userNameLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kalam', sans-serif;
}

.userNameLogOutBtnContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.hamburgerMenuContainer {
    display: none;
}

.hamburgerMenuContainer:hover {
    cursor: pointer;
}

.hamNavContainer {
    z-index: 2;
    position: fixed;
    top: 0;
    /* left: 0; */
    bottom: 0;
    right: 0;
    /* height: 100vh; */
    height: fit-content;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem .5rem;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.7); */
    background: darkblue;
    border-bottom-left-radius: 10px;
    color: white;
}

.openHamIcon {
    font-size: 2rem;
    cursor: pointer;
    align-self: end;
    color: white;
}

.hamMenuUserNameLogOutBtn {
    margin-top: auto;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.navBtn {
    border: none;
    outline: none;
    font-family: inherit;
    padding: .25rem .5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #0AF;
    background-color: inherit;

    transition: all .2s ease-in-out;
}


.navBtn.signUp {
    background-color: #0AF;
    color: whitesmoke;
    font-size: 1.4rem;
}

.navBtn.logIn,
.navBtn.logOut {
    color: #0AF;
}

.navBtn.logOut {
    font-size: 1rem;
}

.navBtn:hover {
    box-shadow: 2px 2px 5px white;
    color: white;
    border: 1px solid white;
}

.navBtn.logOut:hover {
    box-shadow: none;
}


@media screen and (max-width: 800px) {
    .standardMenu {
        display: none !important
    }

    .hamburgerMenuContainer {
        display: flex;
        align-self: center;
    }

    .loginSignupContainer {
        flex-direction: column;
        margin-top: auto;
        width: 100%;
    }

}