.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    min-width: 50%;
    color: #333;
    z-index: 10;
    background-color: #eee;
    /* text-align: right; */
    border-radius: 5px;
    box-shadow: 5px 5px 5px #111;
    position: relative;
    animation: animate 0.3s;
    padding: .5rem 0.5rem;
}

.newPostModalHeader {
    display: flex;
    justify-content: space-between;
}

.closeModalBtn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: red;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    opacity: .75;
    background-color: transparent;
}

.closeModalBtn:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.5);
}

.newPostForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .5rem;
}

.newPostError {
    color: red;
}

.notVisible {
    visibility: hidden;
}

.newPostTitleInput,
.editPostTitleInput {
    font-size: inherit;
    padding: .25rem;
    width: 100%;
    font-weight: bold;
    color: #555
}

.allPostsContainer {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.createNewThreadBtn {
    font-size: inherit;
    min-height: 50px;
    background-color: white;
    border-radius: 5px;
}

.createNewThreadBtn:hover {
    font-weight: bold;
    /* background-color: #9991; */
}

.individualPostContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .5rem;
    border: 1px solid #1115;
    background-color: white;
    border-radius: 5px;
}

.postBtnContainer,
.commentBtnsContainer,
.addCommentBtnContainer,
.postToggleAddCommentBtns,
.postEditDeleteUpdateCancelBtnContainer {
    display: flex;
    gap: .25rem;
    max-height: 20px;

}

.commentBtnsContainer {
    align-self: flex-end
}

.postBtnContainer {
    justify-content: space-between;
}

.newCommentTextArea,
.editPostTextArea {
    margin-top: .25rem;
    width: 100%;
}

.commentsContainer {
    margin-top: .25rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.comment {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: .5rem;
    border: 1px solid #1115;
    padding: .5rem;
    border-radius: 5px;
}

.editCommentTextArea {
    width: 100%
}

.newCommentTextArea,
.editCommentTextArea,
.newPostTextArea,
.editPostTextArea {
    resize: none;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 5px;
    color: #555
}

.hide {
    display: none;
}