.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    min-width: 50%;
    color: #333;
    z-index: 10;
    background-color: white;
    /* text-align: right; */
    border-radius: 5px;
    box-shadow: 5px 5px 5px #111;
    position: relative;
    animation: animate 0.3s;
    padding: .5rem 0.5rem;
}

.newPostModalHeader {
    display: flex;
    justify-content: space-between;
}

.closeModalBtn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: red;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    opacity: .75;
    background-color: transparent;
}

.closeModalBtn:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.5);
}

.newPostForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .5rem;
}

.newPostError {
    color: red;
    font-style: italic;
    font-size: 1rem !important;
    transition: all .2s;
}

.notVisible {
    visibility: hidden;
    transform: scale(.5);
}

.newPostTitleInput,
.editPostTitleInput {
    font-size: inherit;
    padding: .25rem;
    width: 100%;
    font-weight: bold;
    color: #555
}

.forumHeaderContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-self: center; */
    width: 100%;
    justify-content: space-around;
}

.allPostsContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.createNewThreadBtn,
.submitNewThreadBtn {
    font-family: inherit;
    margin-bottom: 1rem;
    background-color: #0AF;
    border-radius: 5px;
    opacity: .8;
    padding: .5rem 1rem;
    color: whitesmoke;
    transition: all .2s;
}

.createNewThreadBtn {
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 0rem !important;
    align-self: center;
}

.submitNewThreadBtn {
    font-size: 1.3rem;
    /* width: 50%; */
    /* align-self: center; */
}

.createNewThreadBtn:hover,
.submitNewThreadBtn:hover {
    opacity: 1;
    box-shadow: 1px 1px 1px #333;
}

.individualPostContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .5rem;
    border: 2px solid #1115;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #3333;

}

.postBtnContainer,
.commentBtnsContainer,
.addCommentBtnContainer,
.postToggleAddCommentBtns,
.postEditDeleteUpdateCancelBtnContainer {
    display: flex;
    gap: .5rem;
    max-height: 20px;
    /* justify-content: center; */
    align-items: center;
}


.viewCommentsBtn {
    transition: all .2s;
    align-self: center;
}


.postEditDeleteBtn,
.addCommentBtn,
.viewCommentsBtn,
.commentEditDeleteBtn,
.postUpdateCancelEditBtn,
.commentUpdateCancelEditBtn {
    opacity: .5;
    transition: all .2s ease-in-out;
}

.postEditDeleteBtn:hover,
.addCommentBtn:hover,
.viewCommentsBtn:hover,
.commentEditDeleteBtn:hover,
.postUpdateCancelEditBtn:hover,
.commentUpdateCancelEditBtn:hover {
    cursor: pointer;
    opacity: 1;
}

.addCommentBtn:hover {
    color: #0AF !important
}

.rotate180 {
    transform: rotate(180deg);
}

.commentBtnsContainer {
    align-self: flex-end
}

.postBtnContainer {
    justify-content: space-between;
}

.newCommentTextArea,
.editPostTextArea {
    margin-top: .25rem;
    width: 100%;
}

.commentsContainer {
    margin-top: .25rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.comment {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* gap: .5rem; */
    border: 1px solid #1115;
    /* border: 2px solid navy; */
    padding: .5rem;
    border-radius: 0px 25px 25px;
    background-color: rgb(173, 216, 230, .25);
    box-shadow: 2px 2px 2px #3333;
}

.commentBody {
    padding: .25rem;
}

.newCommentTextArea,
.editCommentTextArea,
.newPostTextArea,
.editPostTextArea {
    resize: none;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 5px;
    color: #555
}

.newPostTextArea,
.newCommentTextArea,
.editPostTextArea,
.editPostTitleInput,
.newPostTitleInput {
    outline-color: #0AF;
}

.editCommentTextArea {
    width: 100%;
    font-style: italic;
    font-weight: bold;
    /* color: navy; */
    outline: none;
    border: none;
    background-color: rgb(173, 216, 230, .1);

}

.newCommentTextArea {
    width: 100%;
    border-radius: 0px 25px 25px;
}

.dateStamp {
    font-size: .8rem;
    font-style: italic;
}

.hide {
    display: none;
}