.allCoinsContainer {
    display: grid;
    padding: 1rem;
    gap: 1rem;
}

.coinGridHeaderContainer {
    border-bottom: 1px solid #333;
}

.coinGridHeaderContainer,
.individualCoinContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.individualCoinContainer {
    background-color: white;
    align-items: center;
    padding: .25rem;
    border-radius: 25px;
    box-shadow: 2px 2px 4px #333;
}

.individualCoinContainer:hover {
    background-color: whitesmoke;
    cursor: default;
}

.gridHeader {
    font-weight: bold;
}

.imgSymbolCointainer {
    display: flex;
    gap: .5rem;
}

.symbol {
    font-size: .8rem;
}


.filterCoinsContainer {
    border: 1px solid #333;
    display: flex;
    gap: .25rem;
    padding: .25rem;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    align-self: center;
    justify-self: center
}

.filterCoinsContainer:focus-within {
    outline: 1px solid deepskyblue;
}

.filterCoinsInput {
    border: none;
    outline: none;
    flex: 1;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: .25rem;
}

.addToWathListIcon {
    color: darkgoldenrod;
    align-self: center;
    font-size: 1.5rem;
    transition: all .2s;
    margin-left: 25px;
    /* justify-self: center; */
}

.addToWathListIcon:not(.filled):hover {
    cursor: pointer;
    transform: scale(1.5);
}

.paginationContainer {
    align-self: center;
    justify-self: center;
    display: flex;
    gap: .5rem;
}

@media screen and (max-width: 900px) {
    .supply {
        display: none;
    }

    .coinGridHeaderContainer,
    .individualCoinContainer {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .volume {
        display: none;
    }

    .coinGridHeaderContainer,
    .individualCoinContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .marketCap {
        display: none;
    }

    .coinGridHeaderContainer,
    .individualCoinContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}