.allCoinsContainer {
    display: grid;
    padding: .5rem;
    gap: 1rem;
}

.coinGridHeaderContainer {
    border-bottom: 1px solid #333;
}

.coinGridHeaderContainer,
.individualCoinContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.individualCoinContainer {
    background-color: white;
}

.individualCoinContainer:hover {
    background-color: whitesmoke;
    cursor: default;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gridHeader {
    font-weight: bold;
}

.imgSymbolCointainer {
    display: flex;
    gap: .5rem;
}

.symbol {
    font-size: .8rem;
}


.filterCoinsContainer {
    border: 1px solid #333;
    display: flex;
    gap: .25rem;
    padding: .25rem;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    align-self: center;
    justify-self: center
}

.filterCoinsContainer:focus-within {
    outline: 1px solid deepskyblue;
}

.filterCoinsInput {
    border: none;
    outline: none;
    flex: 1;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: .25rem;
}