.allCoinsContainer {
    display: grid;
    padding: .5rem;
    gap: 1rem;
}

.coinGridHeaderContainer {
    border-bottom: 1px solid #333;
}

.coinGridHeaderContainer,
.individualCoinContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.individualCoinContainer {
    background-color: white;
}

.individualCoinContainer:hover {
    background-color: whitesmoke;
    cursor: default;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gridHeader {
    font-weight: bold;
}

.imgSymbolCointainer {
    display: flex;
    gap: .5rem;
}

.symbol {
    font-size: .8rem;
}

.filterCoinsInput {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: .25rem;
}