* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, sans-serif;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("./Assets/usaa2.jpeg"); */
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

button:hover {
  cursor: pointer;
}

.appContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}